main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/bg_amuletos_desk.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#div_title_amuletos_desk {
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_title_amuletos_mobile {
    display: none;
}

#area {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000076;
    width: 90%;
    height: 100vh;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

#amuletos {
    flex: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#linha1, #linha2, #linha3, #linha4, #linha5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#info_amuleto_desk {
    flex: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

#nome_amuleto, #cardImagem {
    padding: 0.5rem;
    text-align: center;
}

#cardInfo, #cardInfo2 {
    text-align: center;
}

#amuletos div img {
    width: 61px;
    height: 57px;
}

.amuletinho:hover {
    animation: rotate_amuleto .7s ease-in-out;
}

.espacinho {
    width: 30px;
}

@keyframes rotate_amuleto {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

#info_amuleto_desk h2, p {
    color: #fff;
}

#info_amuleto_mobile {
    display: none;
}

@media screen and (max-width: 540px) {
    #area {
        flex-direction: column;
        height: 100%;
    }

    #info_amuleto_mobile {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #info_amuleto_desk {
        display: none;
    }

    #nome_amuleto_mobile, #cardImagem_mobile {
        padding: 1rem;
        text-align: center;
    }
    
    #cardInfo_mobile, #cardInfo2_mobile {
        text-align: center;
        padding: 8px;
    }

    #info_amuleto_mobile h2, p {
        color: #fff;
    }

    #div_title_amuletos_desk {
        display: none;
    }

    #div_title_amuletos_mobile {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    main {
        height: 100%;
    }
}