* {
    padding: 0;
    margin: 0;
    font-family: Trajan;
    box-sizing: border-box;
}

header {
    position: relative;
}

section {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(11,11,24,1) 33%, rgba(11,10,29,1) 69%, rgba(0,0,0,1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

section:nth-of-type(2) {
    background-image: url(../img_dark/pilha_corpos_abismo.webp);
    height: 850px;
}

section:nth-of-type(4) {
    background-image: url(../img_dark/parente_perdido.webp);
    height: 850px;
}

section:nth-of-type(6) {
    background-image: url(../img_dark/cavaleiro_vazio_acorrentado.webp);
    height: 850px;
}

section:nth-of-type(8) {
    background-image: url(../img_dark/sofrimento.webp);
    height: 850px;
}

section:nth-of-type(10) {
    background-image: url(../img_dark/superhollow.webp);
    height: 850px;
}

section:nth-of-type(12) {
    background-image: url(../img_dark/olha_para_traz.webp);
    height: 850px;
}

section:nth-of-type(14) {
    background-image: url(../img_dark/batalha_todo_fudido.webp);
    height: 850px;
}

section:nth-of-type(16) {
    background-image: url(../img_dark/batalha_nao_fudido.webp);
    height: 850px;
}

section:nth-of-type(18) {
    background-image: url(../img_dark/luz_ofuscante.webp);
    height: 850px;
}

section:nth-of-type(20) {
    background-image: url(../img_dark/superhollow.webp);
    height: 850px;
}

section:nth-of-type(22) {
    background-image: url(../img_dark/superhollow_zoom.webp);
    height: 850px;
}

@media screen and (max-width: 540px) {
    
    section:nth-of-type(4) {
        background-image: url(../img_dark/parente_perdido_mobile.webp);
        height: 850px;
    }
    
    section:nth-of-type(8) {
        background-image: url(../img_dark/sofrimento_mobile.webp);
        height: 850px;
    }
    
    section:nth-of-type(14) {
        background-image: url(../img_dark/batalha_todo_fudido_mobile.webp);
        height: 850px;
    }
    
    section:nth-of-type(16) {
        background-image: url(../img_dark/batalha_nao_fudido_mobile.webp);
        height: 850px;
    }
    
    section:nth-of-type(18) {
        background-image: url(../img_dark/luz_ofuscante_mobile.webp);
        height: 850px;
    }
}