@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --cor-fundo: linear-gradient(180deg, rgba(35, 35, 37, 0.20) 0%, rgba(1, 1, 1, 0.20) 100%), linear-gradient(90deg, #06060A 0%, #090915 50.31%, #050506 100%);
}

::-webkit-scrollbar { /*Trilho */
    width: 10px;
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb { /* Rolagem */
    background: #c0c0c0;
    border-radius: 10px;
}

@font-face {
    font-family:'Trajan' ;
    src: url(Trajan\ Pro\ Regular.ttf) format('opentype');
}
  
* {
    padding: 0;
    margin: 0;
    font-family: Trajan;
}

header {
    background: var(--cor-fundo);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.new-nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 3rem;
}

.new-logo {
    display: flex;
    align-items: center;
}

.new-nav-list {
    display: flex;
    align-items: center;
}

.new-nav-list #ben10 {
    display: flex;
    justify-content: center;
    list-style: none;
}

.new-nav-item {
    margin: 0 15px;
}

.new-nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.new-nav-item a {
    position: relative;
}

.new-nav-item a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.new-nav-item a:hover::before {
    width: 100%;
}

.new-nav-item a:hover {
    color: #c0c0c0;
}


.new-login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fff;
}

.new-login-button button a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
}

.new-mobile-menu-icon {
    display: none;
}

.new-mobile-menu {
    display: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}

@media screen and (max-width: 540px) {
    .new-nav-bar {
        padding: 1.5rem 4rem;
    }
    .new-nav-item {
        display: none;
    }
    .new-login-button {
        display: none;
    }
    .new-mobile-menu-icon {
        display: block;
    }
    .new-mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .new-mobile-menu #ben10 {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .new-mobile-menu .new-nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .new-mobile-menu .new-login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .new-mobile-menu .new-login-button button {
        width: 100%;
    }
    .new-open {
        display: block;
    }

    .new-login-button button a {
        
    }
}