::-webkit-scrollbar {
    /*Trilho */
    width: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(11, 11, 24, 1) 33%, rgba(11, 10, 29, 1) 69%, rgba(0, 0, 0, 1) 100%);
}

::-webkit-scrollbar-thumb {
    /* Rolagem */
    background: #c0c0c0;
    border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(11, 11, 24, 1) 33%, rgba(11, 10, 29, 1) 69%, rgba(0, 0, 0, 1) 100%);
}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(11, 11, 24, 1) 33%, rgba(11, 10, 29, 1) 69%, rgba(0, 0, 0, 1) 100%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../img/bg_login_desk.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#login {
    display: flex;
    flex-direction: row;
    width: 85%;
}

#imagem_hollow,
#login_inputs {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titledesk {
    width: 434px;
    height: 131px;
    display: block;
}

#titlemobile {
    display: none;
}

/* RESPONSIVIDADE TITULO IMAGEM */
@media screen and (min-width: 1920px) {
    #titledesk {
        width: 650px;
        height: 196px;
    }
}

#dados_login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputs {
    width: 24.0625rem;
    height: 3.9375rem;
    border-radius: 0.3125rem;
    background-color: rgba(111, 106, 106, 0.90);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin: 15px;
    font-size: 1.2rem;
    padding: 5px;
    color: #fff;
}

.inputs::placeholder {
    color: #FFFFFF80;
    text-align: center;
}

#Entrar {
    border-radius: 0.575rem;
    background-color: rgba(196, 195, 195, 0.90);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 6.1875rem;
    height: 3.9375rem;
    margin-top: 15px;
}

#naoPossui {
    color: #fff;
}

#naoPossui a {
    background-color: #00000069;
    padding: 8px;
    border-radius: 25px;

}

#naoPossui a:hover {
    color: #fff;
}

.error-input {
    border: 2px solid red;
}

.error-input::placeholder {
    color: red;
}

@media screen and (max-width: 940px) {
    #imagem_hollow {
        display: none;
    }

    .inputs {
        width: 16.0625rem;
        height: 2.9375rem;
    }

    #titledesk {
        display: none;
    }

    #titlemobile {
        display: block;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #login {
        border-radius: 0.75rem;
        margin-bottom: 11.50rem;
    }

    #naoPossui a {
        color: #fff;
    }

    #dados_login {
        margin-top: 17rem;
    }

    .labels {
        overflow: hidden;
        overflow-y: scroll;
        height: 30vh;
    }    
}

form {
    margin-bottom: 2rem;
}

.escolherImagem {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.30);
}

.labels {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.labelImage {
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    border-radius: 50%;
}

.labelImage.selected {
    border-color: orange;
}

.labelImage img {
    max-width: 200px;
    height: auto;
}

/*MEU DEUS POR FAVOR FUNCIONA*/