::-webkit-scrollbar { /*Trilho */
    width: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(11,11,24,1) 33%, rgba(11,10,29,1) 69%, rgba(0,0,0,1) 100%);
}

::-webkit-scrollbar-thumb { /* Rolagem */
    background: #c0c0c0;
    border-radius: 10px;
}
  
* {
    padding: 0;
    margin: 0;
}

header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(11,11,24,1) 33%, rgba(11,10,29,1) 69%, rgba(0,0,0,1) 100%);    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/TCM/img/bg_login_desk.svg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

#login {
    display: flex;
    flex-direction: row;
    width: 85%;
}

#imagem_hollow, #login_inputs {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titledesk {
    width: 434px;
    height: 131px;
    margin-bottom: 49px;
}

#titlemobile {
    display: none;
}

/* RESPONSIVIDADE TITULO IMAGEM */
@media screen and (min-width: 1920px) {
    #login_inputs img {
        width: 650px;
        height: 196px;
    }
}

#dados_login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputs {
    width: 24.0625rem;
    height: 3.9375rem;
    border-radius: 0.3125rem;
    background-color: rgba(111, 106, 106, 0.90);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin: 15px;
    font-size: 1.2rem;
    padding: 5px;
    color: #fff;
}

.inputs::placeholder {
    color: #FFFFFF80;
    text-align: center;
}

#Entrar {
    border-radius: 0.575rem;
    background-color: rgba(196, 195, 195, 0.90);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 6.1875rem;
    height: 3.9375rem;
    margin-top: 15px;
}

#nãoPossui {
    color: #fff;
}

#nãoPossui a {
    background-color: #00000069;
    padding: 8px;
    border-radius: 25px;
    
}

#nãoPossui a:hover {
    color: #fff;
}

.error-input {
    border: 2px solid red;
}

.error-input::placeholder {
    color: red;
}

@media screen and (max-width: 540px) {
    main {
        background-image: url(/TCM/img/bg_login_mobile.webp);
    }

    #imagem_hollow {
        display: none;
    }

    .inputs {
        width: 16.0625rem;
        height: 2.9375rem;
    }

    #titledesk {
        display: none;
    }

    #titlemobile {
        display: block;
    }

    #login {
        border-radius: 0.75rem;
        background-color: rgba(255, 255, 255, 0.30);
        height: 70vh;
        margin-bottom: 11.50rem;
    }

    #dados_login {
        margin-top: 11.875rem;
    }

    #nãoPossui a {
        color: #fff;
    }
}

/*MEU DEUS POR FAVOR FUNCIONA*/