html {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(11,11,24,1) 33%, rgba(11,10,29,1) 69%, rgba(0,0,0,1) 100%);
    z-index: -1;
}

body {
    background-image: url(../img_magias/bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

#area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #43867d6b;
    border-radius: 25px;
}

#area_magia, #area_arte {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

@media screen and (min-width: 540px) {
    .completo {
        width: 19vw;
    }
}

.card {
    position: relative;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completo {
    border-radius: 25px;
}

.title {
    inset: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.dentro, .title {
    transition: all 0.5s;
}

.dentro img {
    aspect-ratio: 9/16;
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 47vh;
}

.card:hover .dentro {
    transform: perspective(900px) translatey(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px #00000075;
    filter: blur(0.6px);
}

.info_magia {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 25px;
}

.info_magia a {
    color: #99dbfa;
    text-decoration: none;
    padding: 10px;
}

.info_magia p {
    padding: 10px;
}

.completo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#textinho {
    text-align: center;
}

.link1:hover, .link2:hover {
    color: #fff;
}

.link1 {
    color: #99dbfa;
}

.link1, .link2 {
    padding: 15px;
}

.uivantesimg {
    width: 55%;
}

.rasanteimg {
    width: 60%;
}

.infoAdicional {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#leiaMais p {
    font-size: 0.7rem;
}

#leiaMais {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#arrowUp, #arrowUp2, #arrowUp3 {
    display: none;
    padding: 10px;
}

#arrowDown, #arrowDown2, #arrowDown3 {
    padding: 10px;
}

.videosMagias {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#leiaMais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

#coco {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#coco i, #coco p {
    padding: 0;
}

@media screen and (max-width: 540px) {
    #area_magia {
        flex-direction: column;
    }

    #leiaMais {
        padding: 0;
    }

    .videosMagias {
        height: 80%;
        width: 80%;
    }

    #infoAdicionalVideo_uivantes, #infoAdicionalVideo_espirito, #infoAdicionalVideo_rasante {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}