* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

main {
    background-image: url(../img/bgGod.webp);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#fases {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    width: 90%;
}

section#vinculos {
    display: grid;
    width: 90%;
    gap: 1.5rem;
}

section#fases>div {
    display: grid;
    place-items: center;
    transition: all .3s ease;
}

section#fases>div:hover {
    transform: scale(1.1);
}

section#fases>div>h1 {
    color: #CDC686;
    font-weight: 500;
    transition: all .3s ease;
    text-align: center;
}

section#fases>div>h1:hover {
    color: #fff;
    transform: scale(1.1);
}

section#infos {
    width: 90%;
    margin-bottom: 2rem;
}

section#infos>h1 {
    font-weight: 500;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

section#infos>p {
    text-align: center;
    color: #fff;
}

.link {
    color: #CDC686;
    text-decoration: underline;
    transition: color .2s ease;
}

.link:hover {
    color: #f8e95c;
    text-decoration: underline;
}

section#vinculos>h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 1.5rem;
}

section#vinculos>p {
    color: #fff;
    text-align: center;
}

div.binding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
}

div#vinculosInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

div.texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 90%;
}

div.img {
    flex: 10%;
}

div.separator {
    margin-top: 2rem;
}

[data-animar-slow] {
    transition: transform 1.5s ease, opacity 1.5s ease;
}

[data-animar-slow="fade-down"] {
    transform: translate3d(0px, 50px, 0px);
    opacity: 0;
}


[data-animar-slow="fade-up"] {
    transform: translate3d(0px, -50px, 0px);
    opacity: 0;
}

[data-animar-slow="fade-right"] {
    transform: translate3d(-50px, 0px, 0px);
    opacity: 0;
}

[data-animar-slow="fade-left"] {
    transform: translate3d(50px, 0px, 0px);
    opacity: 0;
}

.animado {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width: 790px) {
    main {
        height: 100%;
    }

    main>section#fases {
        flex-direction: column;
        margin: 10%;
    }
}