@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --cor-fundo: linear-gradient(180deg, rgba(35, 35, 37, 0.20) 0%, rgba(1, 1, 1, 0.20) 100%), linear-gradient(90deg, #06060A 0%, #090915 50.31%, #050506 100%);
    --fonte: font-family: 'VT323', monospace;
}

::-webkit-scrollbar { /*Trilho */
    width: 10px;
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb { /* Rolagem */
    background: #c0c0c0;
    border-radius: 10px;
}
  
* {
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

header {
    background: var(--cor-fundo);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--cor-fundo);
}

#hornet {
    display: flex;
    flex-direction: row;
}

.imagem{
    margin: 50px 200px 50px 50px;
}

.imagem img {
    flex: 40%;
}

.texto {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto p {
    color: #fff;
    font: var(--fonte);
    padding: 10px;
    font-size: 1.2em;
}

#divisormobile {
    display: none;
}

@media screen and (max-width: 540px) {
    #hornet {
        display: flex;
        flex-direction: column;
    }

    .imagem{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .imagem img {
        padding: 20px;
    }

    #divisormobile {
        display: block;
    }
    
    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        padding: 10px;
        text-align: center;
    }

    #tituloperso {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #tituloperso img {
        width: 272px;
        height: 111px;
    }
}