main {
    background-image: url(../img/radianciaBG.jpeg);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

div.titles {
    width: 100%;
}

div.titles img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

section#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 8rem;
}

div#antes, div#depois {
    padding: 50px;
    color: #fff;
    flex: 1;
    background-color: #0000008a;
    display: grid;
    place-items: center;
    height: 100%;
    border-radius: 15px;
}

span.inicio {
    font-size: 1.4rem;
}

@media screen and (max-width: 790px) {
    main {
        height: 100%;
    }
    div.titles img {
        width: 80%;
    }

    section#container {
        flex-direction: column;
        margin-top: 15rem;
    }
}