main {
    background-image: url(../img/silksongBg.webp);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    gap: 2rem;
}

section#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

div.titulos {
    width: 100%;
    display: grid;
    place-items: center;
}

div.infos {
    width: 70%;
    margin-top: 4rem;
}

div.titulos img {
    width: 40%;
}

div.play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}

div.play p {
    text-align: center;
    color: #fff;
}

div.infos p {
    text-align: center;
    color: #fff;
}

span.bold {
    font-weight: bold;
}

section#videos {
    width: 70%;
    margin-bottom: 10rem;
}

@media screen and (max-width: 790px) {
    div.titulos img {
        width: 80%;
    }
}