* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.container1 {
    background-image: url(../img/bgdreammers.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container2 {
    background-image: url(../img/lurienBg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

div.container3 {
    background-image: url(../img/monomonBg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

div.container4 {
    background-image: url(../img/hehrrabg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

div.falas {
    background-color: #49265294;
    width: 90%;
    display: grid;
    place-items: center;
    border-radius: 25px;
    margin-top: rem;
}

div.falas > ul {
    list-style: none;
    padding: 15px;
}

div.falas > ul > li {
    margin: 10px;
    color: #fff;
}

div.tres {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
}

div.dois {
    display: grid;
    place-items: center;
    flex: 35%;
}

div.dois > img {
    width: 30%;
}

div.texto {
    flex: 35%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 3%;
    border-radius: 5%;
}

div.vazio {
    flex: 30%;
    color: #fff;
    text-align: center;
}

div.title {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 25%;
}

div.title img {
    margin-left: 2rem;
    margin-top: 3rem;
    width: 110%;
}

div.dreamers {
    display: grid;
    place-items: center;
    flex: 50%;
}

div.dreamers img {
    width: 80%;
}

div.info {
    padding: 20px;
    font-size: 1.2rem;
    color: #fff;
    flex: 25%;
    background: rgba(0, 0, 0, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

[data-animar] {
    transition: transform 1s ease, opacity 1s ease;
}

[data-animar-slow] {
    transition: transform 1.5s ease, opacity 1.5s ease;
}

[data-animar="fade"],
[data-animar-slow="fade"] {
    opacity: 0;
}

[data-animar="fade-down"],
[data-animar-slow="fade-down"] {
    transform: translate3d(0px, 50px, 0px);
    opacity: 0;
}

[data-animar="fade-right"],
[data-animar-slow="fade-right"] {
    transform: translate3d(-50px, 0px, 0px);
    opacity: 0;
}

.animado {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width: 900px) {

    div.container2, div.container3, div.container4, div.container5 {
        height: 100%;
        flex-direction: column;
        gap: 10vh;
    }

    div.container1 {
        height: 100%;
        flex-direction: column;
        gap: 5vh;
    }

    div.falas {
        margin-top: 2rem;
    }

    div.title {
        display: grid;
        place-items: center;
    }

    div.title img {
        margin: 0;
        width: 90%;
    }

    div.tres {
        flex-direction: column;
        gap: 10vh;
    }

    div.dois {
        display: none;
    }

    div.vazio {
        margin-bottom: 2rem;
    }
}