@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --cor-fundo: linear-gradient(180deg, rgba(35, 35, 37, 0.20) 0%, rgba(1, 1, 1, 0.20) 100%), linear-gradient(90deg, #06060A 0%, #090915 50.31%, #050506 100%);
    --fonte: font-family: 'VT323', monospace;
}

::-webkit-scrollbar { /*Trilho */
    width: 10px;
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb { /* Rolagem */
    background: #c0c0c0;
    border-radius: 10px;
}
  
* {
    padding: 0;
    margin: 0;
}

header {
    background: var(--cor-fundo);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--cor-fundo);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    font: var(--fonte);
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fff;
}

.login-button button a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
    font: var(--fonte);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

#hornet {
    display: flex;
    flex-direction: row;
}

.imagem{
    margin: 50px 200px 50px 50px;
}

.imagem img {
    flex: 40%;
}

.texto {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto p {
    color: #fff;
    font: var(--fonte);
    padding: 10px;
    font-size: 1.2em;
}

#divisormobile {
    display: none;
}

@media screen and (max-width: 540px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }

    .login-button button a {
        font: var(--fonte);
    }

    #hornet {
        display: flex;
        flex-direction: column;
    }

    .imagem{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .imagem img {
        padding: 20px;
    }

    #divisormobile {
        display: block;
    }
    
    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        padding: 10px;
        text-align: center;
    }

    #tituloperso {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #tituloperso img {
        width: 272px;
        height: 111px;
    }
}