@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --cor-fundo: linear-gradient(180deg, rgba(35, 35, 37, 0.20) 0%, rgba(1, 1, 1, 0.20) 100%), linear-gradient(90deg, #06060A 0%, #090915 50.31%, #050506 100%);
    --fonte: font-family: 'VT323', monospace; font-size: 1.1rem;
}

::-webkit-scrollbar { /*Trilho */
    width: 10px;
    background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb { /* Rolagem */
    background: #c0c0c0;
    border-radius: 10px;
}
  
* {
    padding: 0;
    margin: 0;
    font: var(--fonte);
}

main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--cor-fundo);
}

#zinho_desk, #zinho_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

#zinho_mobile {
    display: none;
}

.carrossel_item_desk {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

#bg_video {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#entre_vazio_desk {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: entre_vazio 3s ease-in-out;
}

#entre_vazio_mobile {
    display: none;
}

@keyframes entre_vazio {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 540px) {

    #bg_video {
        position: absolute;
        margin-top: 4rem;
    }

    #entre_vazio_desk {
        display: none;
    }

    #entre_vazio_mobile {
        display: block;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        animation: entre_vazio 3s ease-in-out;
    }

    .carrossel_item_mobile {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }

    #zinho_mobile {
        width: 100%;
        display: block;
        margin-top: 54rem;
        margin-bottom: 20px;
    }

    #zinho_desk {
        display: none;
    }

}